.messageAdmin{
      margin-top: 10rem;
      border: 1px solid green;
      height: 30rem;
      margin-right: 20rem;
      margin-left: 20rem;
}
h1{
    text-align: center;
    margin-top: 7rem;
    margin-bottom: -8rem;
}