.recievedMsg{
    margin-right: 70%;
    background-color: purple;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
.replyMsg{
    margin-left: 70%;
    background-color: limegreen;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 3rem;
}